 .la-ball-fall,
 .la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
 
 .la-ball-fall {
    width: max-content;
    height: fit-content;
    top: 50%;
    margin: -15px 0 0 -38px;
    left: 50%;
    position: absolute;
    display: block;
    font-size: 0;
    color: #fff;
 }

 .la-ball-fall.la-dark {
     color: #333;
 }

 .la-ball-fall > div {
     display: inline-block;
     background-color: currentColor;
     border: 0 solid currentColor;  
     width: 13px;
     height: 13px;
     margin: 7px;
     border-radius: 100%;
     opacity: 0;
    -webkit-animation: ball-fall 1s ease-in-out infinite;
    -moz-animation: ball-fall 1s ease-in-out infinite;
    -o-animation: ball-fall 1s ease-in-out infinite;
    animation: ball-fall 1s ease-in-out infinite;
 }

 .la-ball-fall > div:nth-child(1) {
     -webkit-animation-delay: 500ms;
        -moz-animation-delay: 500ms;
          -o-animation-delay: 500ms;
             animation-delay: 500ms;
 }
 
 .la-ball-fall > div:nth-child(2) {
     -webkit-animation-delay: 600ms;
        -moz-animation-delay: 600ms;
          -o-animation-delay: 600ms;
             animation-delay: 600ms;
 }

 .la-ball-fall > div:nth-child(3) {
     -webkit-animation-delay: 700ms;
        -moz-animation-delay: 700ms;
          -o-animation-delay: 700ms;
             animation-delay: 700ms;
 }

 @-webkit-keyframes ball-fall {
     0% {
         opacity: 0;
         -webkit-transform: translateY(-145%);
                 transform: translateY(-145%);
     }
     10% {
         opacity: .5;
     }
     20% {
         opacity: 1;
         -webkit-transform: translateY(0);
                 transform: translateY(0);
     }
     80% {
         opacity: 1;
         -webkit-transform: translateY(0);
                 transform: translateY(0);
     }
     90% {
         opacity: .5;
     }
     100% {
         opacity: 0;
         -webkit-transform: translateY(145%);
                 transform: translateY(145%);
     }
 }

 @-moz-keyframes ball-fall {
     0% {
         opacity: 0;
         -moz-transform: translateY(-145%);
              transform: translateY(-145%);
     }
     10% {
         opacity: .5;
     }
     20% {
         opacity: 1;
         -moz-transform: translateY(0);
              transform: translateY(0);
     }
     80% {
         opacity: 1;
         -moz-transform: translateY(0);
              transform: translateY(0);
     }
     90% {
         opacity: .5;
     }
     100% {
         opacity: 0;
         -moz-transform: translateY(145%);
              transform: translateY(145%);
     }
 }

 @-o-keyframes ball-fall {
     0% {
         opacity: 0;
         -o-transform: translateY(-145%);
            transform: translateY(-145%);
     }
     10% {
         opacity: .5;
     }
     20% {
         opacity: 1;
         -o-transform: translateY(0);
            transform: translateY(0);
     }
     80% {
         opacity: 1;
         -o-transform: translateY(0);
            transform: translateY(0);
     }
     90% {
         opacity: .5;
     }
     100% {
         opacity: 0;
         -o-transform: translateY(145%);
            transform: translateY(145%);
     }
 }

 @keyframes ball-fall {
     0% {
         opacity: 0;
         -webkit-transform: translateY(-145%);
            -moz-transform: translateY(-145%);
              -o-transform: translateY(-145%);
                 transform: translateY(-145%);
     }
     10% {
         opacity: .5;
     }
     20% {
         opacity: 1;
         -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
              -o-transform: translateY(0);
                 transform: translateY(0);
     }
     80% {
         opacity: 1;
         -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
              -o-transform: translateY(0);
                 transform: translateY(0);
     }
     90% {
         opacity: .5;
     }
     100% {
         opacity: 0;
         -webkit-transform: translateY(145%);
            -moz-transform: translateY(145%);
              -o-transform: translateY(145%);
                 transform: translateY(145%);
     }
 }